---
layout: page
title: Lambda Blog
---

#home.page.color-1
  .inner-page
    %h2.page-headline
      Lambda blog
    %h3
      Making the world a better place

{% for post in site.posts reverse %}
.row.inner-page
  .col-md-12
    {% include index/archives.haml %}
{% endfor %}
