---
layout: page
title: Lambda Blog
---

#home.page.color-1
  .inner-page
    %h2.page-headline
      Lambda blog
    %h3
      Making the world a better place

%section.archives
{% for post in site.posts reverse %}
  .col-md-12
  {% include index/archives.haml %}
{% endfor %}
