%html{:lang => "en"}
  - include head.html

  %body#top
    - include nav.html

    %h2 {{ page.title }}
    %p.meta {{ page.date | date_to_string }}

    .post
      {{ content }}

    - include footer.html
