<html lang="en">
  {% include head.html %}

  <body id="top">
    {% include nav.html %}

    <div class="page color-1">
      <div class="inner-page">
        <h2 class="page-headline">{{ page.title }}</h2>
        <p class="meta">{{ page.date | date: "%B %e, %Y" }}</p>
      </div>
    </div>

    <div class="page color-4">
      <div class="inner-page">
        <div class="post">
          <img class="post-image" src="{{ page.image }}"></img>
          {{ content }}
        </div>

        {% include post/sharing.html %}

        {% if site.disqus_short_name and page.comments == true %}
        <section id="comment">
            <h1 class="title">Comments</h1>
            <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
        </section>
        {% endif %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
