---
layout: home_page
title: Lambda - startup engineering
---

{% include index/welcome.haml %}
{% include index/work.haml %}
-# {% include index/home.haml %}
{% include index/script.haml %}
