---
layout: page
title: Lambda - startup engineering
---
/ PAGE | THANKS
.pages.black-bg.white{style: "padding: 50px 0px 40px 0px;"}
  .container
    / Header
    %header
      %h1 Thanks
      .row
        .span8.offset2
          %p
            Thanks for signing up! We'll be in touch as soon as we can.
    / End Header
/ END PAGE

{% include footer.haml %}
