---
layout: home_page
title: Lambda - startup engineering
---

%video#big-video{autoplay: "", loop: "", "data-setup" => "{}", poster: "null", preload: "auto", src: "assets/factory.mp4", style: "position: absolute; width: 100%;", "webkit-playsinline" => ""}
  %source{src: "assets/factory.mp4", type: "video/mp4"}
