%footer.page.color-5
  .inner-page.row-fluid.centered
    .span10.offset1
      %blockquote
        Lambda completed a very important project for Al Gore with a tight timeline and little room for error. Andrew and Ken compliment each other very well, and both stay in tune with the latest technologies to make sure production time remains minimal and the end product is robust.  Many high-level creative problems had popped up along the way, and they approached each with incredible poise & pragmatism.  I would love to work with them again!
      .offset2
        &mdash; Nick Jonas, Co-founder, Modern Assembly
  .inner-page.row-fluid.copyright-container
    .span12.text-right.copyright
