%footer.page.color-5
  .inner-page.row-fluid.centered.cta
    %p
      Want our insights delivered straight to your inbox?
    %div
      %form
        %input{placeholder: "Your e-mail"}/
        %input{type: "submit", value: "Sign up"}/
  .inner-page.row-fluid.copyright-container
    .span12.text-right.copyright
