%footer.page.color-5
  .inner-page.row-fluid.centered.cta
    .mc_embed_signup
      %form#mc-embedded-subscribe-form.validate{action: "http://getlambda.us8.list-manage.com/subscribe/post?u=f9c8de9004ada3baf957a7a9a&amp;id=a99df99802", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: ""}
        %input#mce-EMAIL.required.email{type: "email", name: "EMAIL", placeholder: "Your email"}/
        %button.btn.btn-primary.form-submit-button{type: "submit"} Get our insights delivered
        .mce-responses.clear
          #mce-error-response.response
          #mce-success-response.response
        / to prevent bots from signing up
        .div{style: "position: absolute; left: -5000px;"}
          %input{type: "text", name: "b_f9c8de9004ada3baf957a7a9a_a99df99802", value: ""}
  .inner-page.row-fluid.copyright-container
    .span12.center.copyright
      &copy; Lambda · 
      %a{href:"mailto:andrew@getlambda.com"} email
