<!-- The footer, social media icons, and copyright -->
<footer class="page color-5">
    <div class="inner-page row-fluid centered">
        <!--<div>-->
        <!--<a href="mailto:andrew@leknarf.net">andrew@leknarf.net</a>-->
        <!--<hr><br/>-->
        <!--</div>-->

        <div class="span12 social">
            <a href="https://www.facebook.com/frankel"><i class="icon-facebook-sign"></i></a>
            <a href="http://www.linkedin.com/profile/view?id=16906960"><i class="icon-linkedin-sign"></i></a>
            <a href="https://twitter.com/leknarf13"><i class="icon-twitter-sign"></i></a>
            <a href="https://github.com/leknarf"><i class="icon-github-sign"></i></a>
        </div>
    </div>
    <div class="inner-page row-fluid copyright-container">
        <div class="span12 text-right copyright">
            <a href="#top" title="Go to top" class="scroll">To top <i class="icon-caret-up"></i></a>
        </div>
    </div>
</footer>
{% include disqus.html %}
