<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon-reorder"></i>
      </button>
      <a class="navbar-brand" href="//{{ site.domain }}">Lambda</a>
    </div>
    <div id="nav-collapse" class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a title="Home" href="//{{ site.domain  }}/" class="brand-4">Home</a></li>
        <li><a title="Blog" href="//{{ site.domain }}/blog/" class="brand-3" target="_blank">Blog</a></li>
      </ul>
    </div>
  </div><!-- /.navbar-container -->
</nav>
