-# .share
-#   %p
-#     .addthis_toolbox.addthis_default_style.addthis_32x32_style
-#       %a.addthis_button_preferred_1
-#         %a.addthis_button_preferred_2
-#         %a.addthis_button_preferred_3
-#         %a.addthis_button_preferred_4
-#         %a.addthis_button_compact

      -# %script
      -#   var addthis_config = {"data_track_addressbar":true};
      -# %script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_profile_id }}"}
  -# %p
  -#   You might also like to
  -#   %a.rss{:href => "{{ site.subscribe_rss }}", :title => "RSS"}
  -#     subscribe via RSS

  -#   or
  -#   %a.twitter{:href => "http://twitter.com/{{ site.twitter_user }}", :title => "Twitter"}
  -#     follow me on Twitter
