---
layout: page
title: Lambda - Technology Talent Agency
---
#home.page.color-1
  .inner-page
    %h2.page-headline Thanks!
    %p{style: "text-align: center;"}
      Thanks for signing up! We'll be in touch as soon as we can.
