/ PAGE | ABOUT
.page-about.pages.white.paralax
  .bg-image-overlay
    .container
      / Header
      %header
        %h1 Who We Are
        .row
          .span8.offset2
            %p

      / End Header
      / Article
      %article
        / List of people and description with their contact details which are visable on hover
        %ul.thumbnails.about-items
          %li.span4.center
            .item
              / Team member image
              %img.img-circle{alt: "Treble", src: "http://placehold.it/280x280"}/
              / Team memeber details, activated on hover
              .about-overlay.img-circle
                .social-icons.sicon-white
                  %a.sicon-facebook{href: "#"}
                    %i Facebook
                  %a.sicon-twitter{href: "#"}
                    %i Twitter
                  %a.sicon-linkedin{href: "#"}
                    %i LinkedIn
            / Team member name and function
            %h5
              Andrew Frankel
              %br/
              %small Pointless Title
            / Team member short info
            %p.smallFontBy08 A jack-of-all-trades technologist, Andrew has worked as a developer, sys-admin, designer, and team leader. He's available to help your team with both hands-on execution and high-level strategy.
          %li.span4.center
            .item
              %img.img-circle{alt: "Treble", src: "assets/images/ken_280x280.jpg"}/
              .about-overlay.img-circle
                .social-icons.sicon-white
                  %a.sicon-facebook{href: "#"}
                    %i Facebook
                  %a.sicon-twitter{href: "#"}
                    %i Twitter
                  %a.sicon-linkedin{href: "#"}
                    %i LinkedIn
            %h5
              Kenneth Chen
              %br/
              %small Pointless Title
            %p.smallFontBy08 A Goldman Sachs alum turned tech entrepreneur, Ken is a full-stack web developer and project manager. He has worked on large, multi-year projects and regularly wins prizes at day-long hackathons.
          %li.span4.center
            .item
              %img.img-circle{alt: "Treble", src: "http://placehold.it/280x280"}/
              .about-overlay.img-circle
                .social-icons.sicon-white
                  %a.sicon-facebook{href: "#"}
                    %i Facebook
                  %a.sicon-twitter{href: "#"}
                    %i Twitter
                  %a.sicon-linkedin{href: "#"}
                    %i LinkedIn
            %h5
              John Doe
              %br/
              %small Pointless Title
            %p.smallFontBy08 Lorem Ipsum Dolor

      / End Article
/ END PAGE | ABOUT
