/ PAGE | ABOUT
#page-about.pages.white.paralax.page-about
  .overlay
  .container
    / Header
    %header
      %h1 Who We Are
      .row
        .span8.offset2
          %p
            We understand how difficult it is to hire developers.
          %p
            With our previous experience both working at and running early startups, we've been on both sides of the hiring table. It's tough to hire someone for a salaried position when your business is changing rapidly. Defining the requirements for a new position is difficult enough, without the added difficulty of finding someone who fits your needs. Working with freelancers or outsourcing agencies is frustrating when you don't have any guarantee you'll be able to work with the same developers in the future.
          %p
            We started Lambda to provide a flexible alternative to traditional software development resources. We're able to augment your existing team when you need additional capacity or can help you start new projects before you're ready to commit to hiring.

    / End Header
    / Article
    %article
      / List of people and description with their contact details which are visable on hover
      %ul.thumbnails.about-items
        %li.span4.center
          .item
            / Team member image
            %img.img-circle{alt: "Treble", src: "http://placehold.it/280x280"}/
            / Team memeber details, activated on hover
            .about-overlay.img-circle
              .social-icons.sicon-white
                %a.sicon-facebook{href: "#"}
                  %i Facebook
                %a.sicon-twitter{href: "#"}
                  %i Twitter
                %a.sicon-linkedin{href: "#"}
                  %i LinkedIn
                %a.sicon-youtube{href: "#"}
                  %i Youtube
                %a.sicon-pinterest{href: "#"}
                  %i Pinterest
          / Team member name and function
          %h5
            Andrew Frankel
            %br/
            %small Pointless Title
          / Team member short info
          %p.smallFontBy08 A jack-of-all-trades technologist, Andrew has worked as a developer, sys-admin, designer, and team leader. He's available to help your team with both hands-on execution and high-level strategy.
        %li.span4.center
          .item
            %img.img-circle{alt: "Treble", src: "assets/images/ken_280x280.jpg"}/
            .about-overlay.img-circle
              .social-icons.sicon-white
                %a.sicon-facebook{href: "#"}
                  %i Facebook
                %a.sicon-twitter{href: "#"}
                  %i Twitter
                %a.sicon-linkedin{href: "#"}
                  %i LinkedIn
                %a.sicon-youtube{href: "#"}
                  %i Youtube
                %a.sicon-pinterest{href: "#"}
                  %i Pinterest
          %h5
            Kenneth Chen
            %br/
            %small Pointless Title
          %p.smallFontBy08 A Goldman Sachs alum turned tech entrepreneur, Ken is a full-stack web developer and project manager. He has worked on large, multi-year projects and regularly wins prizes at day-long hackathons.
        %li.span4.center
          .item
            %img.img-circle{alt: "Treble", src: "http://placehold.it/280x280"}/
            .about-overlay.img-circle
              .social-icons.sicon-white
                %a.sicon-facebook{href: "#"}
                  %i Facebook
                %a.sicon-twitter{href: "#"}
                  %i Twitter
                %a.sicon-linkedin{href: "#"}
                  %i LinkedIn
                %a.sicon-youtube{href: "#"}
                  %i Youtube
                %a.sicon-pinterest{href: "#"}
                  %i Pinterest
          %h5
            John Doe
            %br/
            %small Pointless Title
          %p.smallFontBy08 Lorem Ipsum Dolor

    / End Article
/ END PAGE | ABOUT
