/ PAGE | ABOUT
.page-about.pages.white.paralax
  .underlay
  .bg-image
  .container
    / Header
    %header
      %h1 Who We Are
      .row
        .span8.offset2
          %p

    / End Header
    / Article
    %article
      / List of people and description with their contact details which are visable on hover
      %ul.thumbnails.about-items
        %li.span3.center
          .item
            / Team member image
            %img.img-circle{alt: "Treble", src: "assets/images/andrew_280x280.png"}/
            / Team memeber details, activated on hover
            .about-overlay.img-circle
              .social-icons.sicon-white
                %a.sicon-facebook{href: "https://www.facebook.com/frankel"}
                  %i Facebook
                %a.sicon-twitter{href: "https://twitter.com/leknarf13"}
                  %i Twitter
                %a.sicon-linkedin{href: "http://www.linkedin.com/profile/view?id=16906960"}
                  %i LinkedIn
          / Team member name and function
          %h5
            Andrew Frankel
            %br/
            %small Founder
          / Team member short info
          %p.smallFontBy08 A jack-of-all-trades technologist, Andrew has worked as a developer, sys-admin, designer, and team leader. He's available to help your team with both hands-on execution and high-level strategy.
        %li.span3.center
          .item
            %img.img-circle{alt: "Treble", src: "assets/images/ken_280x280.jpg"}/
            .about-overlay.img-circle
              .social-icons.sicon-white
                %a.sicon-facebook{href: "https://www.facebook.com/profile.php?id=116331"}
                  %i Facebook
                %a.sicon-twitter{href: "https://twitter.com/thisiskenchen"}
                  %i Twitter
                %a.sicon-linkedin{href: "https://www.linkedin.com/profile/view?id=28493806"}
                  %i LinkedIn
          %h5
            Kenneth Chen
            %br/
            %small Founder
          %p.smallFontBy08 A Goldman Sachs alum turned tech entrepreneur, Ken is a full-stack web developer and project manager. He has worked on large, multi-year projects and regularly wins prizes at day-long hackathons.
        %li.span3.center
          .item
            %img.img-circle{alt: "Treble", src: "assets/images/eric-neuman_280x280.jpg"}/
            .about-overlay.img-circle
              .social-icons.sicon-white
                %a.sicon-facebook{href: "https://www.facebook.com/eric.neuman"}
                  %i Facebook
                %a.sicon-twitter{href: "https://twitter.com/Eric_Neuman"}
                  %i Twitter
                %a.sicon-linkedin{href: "https://www.linkedin.com/profile/view?id=30997466"}
                  %i LinkedIn
          %h5
            Eric Neuman
            %br/
            %small Partner
          %p.smallFontBy08 Full-stack engineer and product expert, Eric co-founded and was CTO/VP Products at DecisionDesk for 5 Years before becoming an Adviser.  Whether it's building an MVP or refining your existing product, he can help you get it done right.
        %li.span3.center
          .item
            %img.img-circle{alt: "Treble", src: "assets/images/dominic_280x280.jpg"}/
            .about-overlay.img-circle
              .social-icons.sicon-white
                %a.sicon-facebook{href: "https://www.facebook.com/dwowen20"}
                  %i Facebook
                %a.sicon-linkedin{href: "https://www.linkedin.com/pub/dominic-owen/39/265/56b"}
                  %i LinkedIn
          %h5
            Dominic Owen
            %br/
            %small Partner
          %p.smallFontBy08 Dominic is a startup veteran and full-stack engineer. Most recently, he led development at RentHackr and at Gymagogo. Previously, Dominic worked at the MIT Lincoln Laboratory.
    / End Article
/ END PAGE | ABOUT
