{% capture date %}{{ post.date }}{% endcapture %}
{% capture this_year %}{{ date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  {% unless forloop.first %}
  {% endunless %}
  %h1.year
    {{ date | date: "%Y" }}
{% endunless %}

  %article.row
    .meta
      %span.date {{ date | date: "%B %e" }}
      %br
      %span.tags {% include post/categories.html %}
        {% if site.disqus_short_name and post.comments == true and site.disqus_show_comment_count == true %}
        %span.comments
          %a{:href => "{{ root_url }}{{ post.url }}#disqus_thread"
            Comments
        {% endif %}
    %h1.title
      %a{:href => "{{ root_url }}{{ post.url }}"}
        {{post.title}}
