#companies.page.color-3
  .inner-page
    %h2.page-headline
      Why should I hire a consultant through Lambda?

    .row.inner-page
      .col-md-6.lazy-container
        %img.figurette.lazy{alt: "Chasing down talent is hard", "data-original" => "/img/running.svg", height: "320", width: "480", src: "/img/pixel.png"}
      .col-md-6
        %p
          Competition for the best developers is fierce. New computer science graduates can start their careers with 100k salaries and experienced developers can easily earn over 150k. Exceptional designers can command even higher salaries.
        %p
          But there's a dark pool of hidden talent that isn't looking for full-time work. Drawn by the excitement of the startup world, many of the best  technologists are running their own startups or freelance consultancies. These entrepreneurs won't ever respond to a job board post or a recruiter's spam message.
        %p
          Launching a successful startup is often a question of longevity, so many talented founders are willing to accept open-ended contract positions in order to extend their runway. Many startups take years to find their initial traction, so these contract relationships can be every bit as long-term as regular employment.

        %p
          %a.company-form.btn.btn-primary.btn-centered.centered-text{href: "#company_form"}
            Hire Lambda &rarr;


      %hr

      %ul.features.list-inline
        %li
          %h3
            %i.icon-bullseye &nbsp;Free guidance
          %p
            Confused about when to hire a designer or a front-end developer? We can guide you to the right talent for your needs.

        %li
          %h3
            %i.icon-briefcase &nbsp;Rapid onboarding
          %p
            Find and hire excellent people in a fraction of the time. We've already conducted interviews and reviewed code.

        %li
          %h3
            %i.icon-puzzle-piece &nbsp;Any size project
          %p
            We can provide individual consultants for small projects or connect you with a complete team that has worked together in the past.

        %li
          %h3
            %i.icon-legal &nbsp;Safe
          %p
            Payments are held in escrow and only released once the work is completed.

        %li
          %h3
            %i.icon-group &nbsp;Flexible
          %p
            Book as few as 10 hours or as many as 40 hours per week.

        %li
          %h3
            %i.icon-magic &nbsp;Easy
          %p
            We take care of the paperwork and the legalese.

