#consultants.page.color-2
  .inner-page
    %h2.page-headline
      Why should I become a Lambda consultant?

    %ul.medium-list-two-line
      %li
        %i.icon-money
        Make more money &ndash; We negotiate on your behalf to get you the highest rate possible. In almost every case, our consultants have earned a higher rate than they previously asked for on their own.

      %li
        %i.icon-group
        We find clients &ndash; 'Nuff said.

      %li
        %i.icon-time
        Flexible &ndash; Work as few as 10 hours a week or as many as 40.

      %li
        %i.icon-shield
        Serious clients only &ndash; Wanna hear about a disruptive social network for cats that "just needs a coder"? Neither do we.

      %li
        %i.icon-legal
        Safe &ndash; Payments are held in escrow and released as the work is completed

      %li
        %i.icon-magic
        Easy &ndash; We take care of the paperwork and the legalese.

      %li
        %a.consultant-form.btn.btn-primary.btn-centered.centered-text{href: "#consultant_form"}
          Join Lambda &rarr;
