/ PAGE | CONTACT
#page-contact.pages.black-bg.white.page-contact
  .container
    / Header
    %header
      %h1 Contact us for a free consultation
      .row
        .span8.offset2
          %p
            We'll make your project succeed, and we move fast.
    / End Header
    / Start Article
    %article
      .row-fluid
        / Contact form
        .span6
          %h5 Tell Us About Your Project
          #crmWebToEntityForm
            %meta{content: "text/html;charset = UTF-8", "http-equiv" => "content-type"}/
            .form-header-group
            %form{"accept-charset" => "UTF-8", action: "https://crm.zoho.com/crm/WebToLeadForm", method: "POST", name: "WebToLeads95594400000008904", onsubmit: "javascript:document.charset=\"UTF-8\"; return checkMandatery()"}
              %input{name: "xnQsjsdp", style: "display:none;", type: "text", value: "vs0sAR@C1L5thYo@kRl79w$$"}/
              %input#zc_gad{name: "zc_gad", type: "hidden", value: ""}/
              %input{name: "xmIwtLD", style: "display:none;", type: "text", value: "TYZ3M4hl@jML2DxZUHXOVvGCpUdN@P5O"}/
              %input{name: "actionType", style: "display:none;", type: "text", value: "TGVhZHM="}/
              %input{name: "returnURL", style: "display:none;", type: "text", value: "http://getlambda.com/thanks-companies/"}/
              .form-line
                %label.form-label-left Name:
                %input.span12.form-textbox{class: "validate[required]", maxlength: "40", required: "required", name: "Last Name", type: "text"}/
              .form-line
                %label.form-label-left Email:
                %input.span12.form-textbox{class: "validate[required]", maxlength: "100", required: "required", name: "Email", type: "text"}/
              .form-line
                %label.form-label-left Budget:
                %select{name: 'LEADCF6', style: "width: 100%;"}
                  %option{value: '$15k - $50k'} $15k - $50k
                  %option{value: '$50k - $150k'} $50k - $150k
                  %option{value: '$150k +'} $150k +
              .form-line
                %label.form-label-left Timeline:
                %select{name: 'LEADCF9', style: "width: 100%;"}
                  %option{value: '< 1 month'} < 1 month
                  %option{value: '3 - 6 months'} 3 - 6 months
                  %option{value: '6 + months'} 6 + months
              .form-line
                %label.form-label-left Project Description:
                %textarea.span12.form-textbox{style: "font-size: 16px;", maxlength: "32000", rows: "3", name: "Description"}
              .form-buttons-wrapper{style: "text-align: center;"}
                %button.btn.btn-primary.form-submit-button{type: "submit"} Submit
          / End Contact form
        / Contact information
        .span5.offset1
          %h5 Meet Us
          .media
            .social-icons.sicon-white.pull-left
              %a.sicon-phone{href: "#"}
                %i Phone
            .media-body.smallFontBy08
              917-582-1552
          .media
            .social-icons.sicon-white.pull-left
              %a.sicon-place{href: "#"}
                %i Location
            .media-body.smallFontBy08
              222 Broadway, New York, NY 10038
          .media
            .social-icons.sicon-white.pull-left
              %a.sicon-mail{href: "#"}
                %i email
            .media-body.smallFontBy08
              ken@getlambda.com
          %br/
          %br/
          %br/
        / End Contact information
    / End Article
  / Background map image
  #map-image{style: "background: url(/assets/images/pages/contact/manhattan_map.png) 50% 0 no-repeat fixed"}
/ END PAGE | CONTACT
