#contact.page.color-4
  .inner-page.centered-text
    %h2.page-headline.centered-text
      Get in touch
    .row
      .col-md-12
        %h3 How can we help?
        %p
          Contact us to discuss how we can help.
        %ul.list-inline
          %div
            %li
              %a{href: "mailto:andrew@getlambda.com"}
                %i.icon-envelope-alt
                andrew@getlambda.com
          %div
            %li
              %a{href: "http://www.linkedin.com/profile/view?id=16906960"}
                %i.icon-linkedin-sign
                LinkedIn
          %div
            %li
              %a{href: "https://github.com/leknarf"}
                %i.icon-github-sign
                Github
          %div
            %li
              %i.icon-building
              Lambda
              %br/
              %i.icon-sign-blank.hidden
              222
              Broadway, 20th Floor
              %br/
              %i.icon-sign-blank.hidden
              New York, NY 10038

