#home.page.color-1
  .inner-page
    %h2.page-headline
      Lambda is a talent agency for exceptional developers, designers, and technology professionals
  .row.inner-page
    .col-md-12
      %p.lead We represent the technology industry's most exceptional talent and connect them with companies seeking their expertise.

    .col-md-6.lazy-container
      %img.lazy{alt: "Working together with a laptop. That's how we roll.", "data-original" => "/img/home.svg", height: "400", src: "/img/pixel.png", width: "600"}/

    .col-md-6
      %ul.medium-list-two-line
        %li
          %i.icon-chevron-right
          Exceptional talent only — $100/hr minimum rate.
        %li
          %i.icon-chevron-right
          No recruiters or spam. We're developers too and we only match consultants with projects that fit their expertise and interest.
        %li
          %i.icon-chevron-right
          Don't get overwhelmed with low-quality talent in a race to the bottom.

        %li
          %a.consultant-form.btn.btn-primary.btn-centered.centered-text{href: "#consultant_form"}
            Join Lambda &rarr;

