/ PAGE
#page-features.pages.paralax.white-bg
  .container
    / Header
    %header
      .row
        .span8.offset2
          %p 
          %p
            There are many ways to build a bridge, but not all bridges stand the test of time.
          %p
            Building things the right way is a skill that only comes with years of experience -- years of seeing others make
            %strong subtle
            and
            %strong costly
            mistakes that only become apparent once it's
            = succeed "." do
              %strong too late
            = succeed "." do
              %strong easily avoided
      %hr/
      .row
        .span8.offset2
          %p
            There are many mediocre developers out there, but exceptional developers are comparatively rare.
      %h4 We're not just developers
      .row
        .span8.offset2
          %p
            Unlike traditional devshops, we don't just implement a spec. We help you figure out
            %strong what you should be building
            \-- based on
            = succeed "." do
              %strong what your business needs
      %br/
      %hr/
      .row
        .span8.offset2
          %p
            Measure twice, cut once. That's our philosophy. Let us build your product for you.
    / End Header
/ END PAGE
