%video.big-video{autoplay: "autoplay", loop: "true", "data-setup" => "{}", poster: "null", preload: "auto", "webkit-playsinline" => ""}
  %source{src: "assets/videos/cranes-sunset.mp4", type: "video/mp4"}
  %source{src: "assets/videos/cranes-sunset.ogg", type: "video/ogg"}

/ PAGE
.page-talent.pages.white.paralax
  .underlay
  .bg-image-overlay
    .container
      / Header
      %header
        .row
          .span12
            &nbsp;
        %h2 Work with us
        .row
          .span8.offset2
            %p
              Lambda is hiring developers, designers, product managers, and anyone else with experience building new startups.
        .row
          .span12
            &nbsp;
/ END PAGE

/ PAGE | TALENT-PARTNERS
.page-talent.pages.white-bg
  .container
    %header
      %h2 Two networks, one team
      %p
        Our projects are built-in collaboration between our in-house team of NYC developers (we call them partners) and an extended network of independent talent (we call them associates). We’re always looking to work with skilled professionals and would love to talk with you if you're considering taking a new job or are just looking for your next gig.
/ END PAGE

/ PAGE
.page-talent-people.white.pages.paralax
  .bg-image-overlay
    .container
      %header
        %h4.line-divider Partners
        %h1 Co-founders for hire
        .row
          .span8.offset2
            %p
              Every startup we build is different, so they need guidance from experienced entrepreneurs. Why become a Lambda partner?
        %br/
        / Article
        %article
          %ul.thumbnails.about-items
            %li.span4.center
              %img{src: "assets/images/icon_dude1.png"}
              %h5
                Your team is ready
              %p.smallFontBy08
                Joining Lambda means you’ll never need to turn down clients again or risk over-promising. If a project is too big for one person, you can always bring in a Lambda teammate to help.
            %li.span4.center
              %img{src: "assets/images/icon_dude2.png"}
              %h5
                Freelance lifestyle
              %p.smallFontBy08 
                Partners pick the projects we work on. If you want the flexibility of running your own freelance business, you’ll find it here. But we’ll take care of the boring stuff, like preparing contracts and running payroll.
            %li.span4.center
              %img{src: "assets/images/icon_dude3.png"}
              %h5
                Learn by doing
              %p.smallFontBy08                
                Most of our partners have significant technology experience, but are new to marketing themselves, finding leads, and closing sales. We’ll teach you everything we know about the business side of things, and hope to learn from you as well.
        / End Article
      / End Header
/ END PAGE

/ PAGE | TALENT-PARTNERS
.page-talent.pages.white-bg
  .container
    %header
      %h2
      %p
/ END PAGE

/ PAGE
.page-talent-partners.white.pages.paralax
  .bg-image-overlay
    .container
      / Header
      %header
        %h4.line-divider Associates
        %h1 Build great things
        .row
          .span8.offset2
            %p
              Our in-house team is small and focused, so we rely on a trusted network of collaborators. If you love your craft, but don’t want to get bogged down in business details like finding clients, we’d love to talk with you.
        / Article
        %article
          %ul.thumbnails.about-items
            %li.span4.center
              %img{src: "assets/images/icon_winner.png"}
              %h5
                Choose what you work on
              %p.smallFontBy08
                Unlike traditional agencies, we’ll never assign you to a project you don’t want. Like a freelancer, you choose what you'd like to work on, and when you want to work.
            %li.span4.center
              %img{src: "assets/images/icon_laptop.png"}
              %h5
                Greenfield development
              %p.smallFontBy08
                We work primarily with early-stage startups. You won't get stuck doing maintenance work or wrestling with huge legacy applications. You'll only work on projects that we'd want to work on ourselves.
            %li.span4.center
              %img{src: "assets/images/icon_happyface.png"}
              %h5
                Leads
              %p.smallFontBy08
                We go out to networking events every day to generate leads. We avoid looking at online job boards because we only want to work with the most qualified clients.
        / End Article
      / End Header
/ END PAGE
