%video.big-video{autoplay: "autoplay", loop: "true", "data-setup" => "{}", poster: "null", preload: "auto", "webkit-playsinline" => ""}
  %source{src: "assets/videos/factory.mp4", type: "video/mp4"}
  %source{src: "assets/videos/factory.ogg", type: "video/ogg"}

/ PAGE | WELCOME
#page-welcome.pages.white.paralax.page-welcome
  .overlay
  .underlay
  .centralized
    .container
      .row-fluid
        .span12.center
          #welcome-messages.line-divider
            %ul.slides
              %li
                %h1 Lambda
          %p builds startups
          %p Lambda is your technical co-founder. We'll bring your idea from conception to product launch.
          %p &nbsp;
          %p &nbsp;
          %p &nbsp;
          .cta
            %input{placeholder: "Your e-mail"}
            %input{type: "submit", value: "Get our insights delivered"}
/ END PAGE | Welcome
