%video.big-video{autoplay: "autoplay", loop: "true", "data-setup" => "{}", poster: "null", preload: "auto", "webkit-playsinline" => ""}
  %source{src: "assets/videos/factory.mp4", type: "video/mp4"}
  %source{src: "assets/videos/factory.ogg", type: "video/ogg"}

/ PAGE | WELCOME
#page-welcome.pages.white.paralax.page-welcome
  .underlay
  .overlay
  .centralized
    .container
      .row-fluid
        .span12.center
          #welcome-messages.line-divider
            %ul.slides
              %li
                %h1 Lambda
          %p builds startups
          %p Lambda is your technical co-founder. We'll bring your idea from conception to product launch.
          %p &nbsp;
          %p &nbsp;
/ END PAGE | Welcome

.pages.paralax.white.cta
  .container
    / Header
    %header
      .mc_embed_signup
        %form#mc-embedded-subscribe-form.validate{action: "http://getlambda.us8.list-manage.com/subscribe/post?u=f9c8de9004ada3baf957a7a9a&amp;id=a99df99802", method: "post", name: "mc-embedded-subscribe-form", target: "_blank", novalidate: ""}
          %input#mce-FNAME.name{type: "text", name: "FNAME", placeholder: "Your name"}/
          %input#mce-EMAIL.required.email{type: "email", name: "EMAIL", placeholder: "Your email"}/
          %input#mc-embedded-subscribe.button{type: "submit", name: "subscribe", value: "Get our insights delivered"}/
          .mce-responses.clear
            #mce-error-response.response
            #mce-success-response.response
          / to prevent bots from signing up
          .div{style: "position: absolute; left: -5000px;"}
            %input{type: "text", name: "b_f9c8de9004ada3baf957a7a9a_a99df99802", value: ""}
