#who.page.color-3
  .inner-page
    %h2.page-headline
      Who we are

    .row.inner-page.team
      .col-md-6
        %p.lead We understand how difficult it is to hire developers.
        %p
          With our previous experience both working at and running early startups, we've been on both sides of the
          hiring table. It's tough to hire someone for a salaried position when your business is changing rapidly.
          Defining the requirements for a new position is difficult enough, without the added difficulty of
          finding someone who fits your needs. Working with freelancers or outsourcing agencies is frustrating
          when you don't have any guarantee you'll be able to work with the same developers in the future.
        %p
          We started Lambda to provide a flexible alternative to traditional software development resources.
          We're able to augment your existing team when you need additional capacity or can help you start new
          projects before you're ready to commit to hiring.
      .col-md-6.lazy-container
        %img.lazy{alt: "Some faceless folk standing in a group", "data-original" => "/img/who_we_are.svg", height: "320", width: "480", src: "/img/pixel.png"}
    %hr/

    .row.inner-page.team
      .col-md-6
        %img.lazy.pull-left{alt: "Andrew's charming visage", "data-original" => "/img/andrew.png", height: "339", width: "226", src: "/img/pixel.png"}
        %h4 Andrew Frankel
        %p
          A jack-of-all-trades technologist, Andrew has worked as a developer, sys-admin, designer, and team
          leader. He's available to help your team with both hands-on execution and high-level strategy.
        %ul
          %li
            %a{href: "http://leknarf.net"}
              %i.icon-home
              leknarf.net
          %li
            %a{href: "mailto:andrew@getlambda.com"}
              %i.icon-envelope-alt
              andrew@getlambda.com
          %li.social
            %a{href: "https://www.facebook.com/frankel"}
              %i.icon-facebook-sign
            %a{href: "http://www.linkedin.com/profile/view?id=16906960"}
              %i.icon-linkedin-sign
            %a{href: "https://twitter.com/leknarf13"}
              %i.icon-twitter-sign
            %a{href: "https://github.com/leknarf"}
              %i.icon-github-sign
      .col-md-6
        %img.lazy.pull-left{alt: "Ken's photo", "data-original" => "/img/ken-ll-white.png", height: "339", src: "/img/pixel.png", width: "226"}/
        %h4 Ken Chen
        %p
          A Goldman Sachs alum turned tech entrepreneur, Ken is a full-stack web developer and project manager. He
          has worked on large, multi-year projects and regularly wins prizes at day-long hackathons.
        %ul
          %li
            %a{href: "mailto:ken@getlambda.com"}
              %i.icon-envelope-alt
              ken@getlambda.com
          %li.social
            %a{href: "https://www.facebook.com/profile.php?id=116331"}
              %i.icon-facebook-sign
            %a{href: "http://www.linkedin.com/pub/kenneth-chen/9/661/57a"}
              %i.icon-linkedin-sign
            %a{href: "https://github.com/Kenneth-Chen"}
              %i.icon-github-sign
