/ PAGE | WORK
#page-work.pages.page-work.white-bg
  .container
    / Header
    %header
      -# %h4.line-divider
      %h1 Work
      / Short desciption about Work in general
      .row
        .span8.offset2
          %p
            Check out some of the work we've done for our clients.
      / Sub menu
      /
        Params:
        plugin-filter: Defines links for filtering.
      / comment out submenus for now until we have more items here
      /
    / End Header
    %section.portfolio-item-details
      .row-fluid
        .span8
          %a.smallFontBy08{href: "http://www.thecostofcarbon.org/", target: "_blank"}
            %img{alt: "Fundation", src: "assets/images/pages/work/coc-screenshot.png"}/
        .span4
          %h5 Cost of Carbon
          %article.smallFontBy08
            %p
              Our client, the Climate Reality Project, a non-profit organization founded by Al Gore, needed a site built within two months, to illustrate the impact of carbon pollution on everyday people. We had to meet a hard deadline, as Al Gore promoted the website on a live televised event reach millions of users, during the "24 Hours of Reality". We led the development efforts from conception to product launch, and this is the reuslt.
              %br/
          %section.website
            %h5 Visit site
            %a.smallFontBy08{href: "http://www.thecostofcarbon.org/", target: "_blank"} www.thecostofcarbon.org
    %section.portfolio-item-details
      .row-fluid
        .span8
          %a.smallFontBy08{href: "http://fullgenomes.com/", target: "_blank"}
            %img{alt: "Full Genomes", src: "assets/images/pages/work/full-genomes-screenshot.png"}/
        .span4
          %h5 Full Genomes
          %article.smallFontBy08
            %p
              %blockquote
                I am the CTO of a Biotech Startup - Full Genomes Corporation - and sought Lambda’'s help in launching our website and for advice on all things technology. Andrew has been a highly efficient worker, who has an impressive knowledge of Open Source tools and technologies and has the creativity to formulate novel solutions and the technical chops to create and deploy them. He has never failed to deliver superlative results, and I would not hesitate to recommend him to anyone seeking a top class solution architect, developer or systems integrator.
              &mdash; Paul Conroy, CTO
              %br
          %section.website
            %h5 Visit site
            %a.smallFontBy08{href: "http://fullgenomes.com/", target: "_blank"} fullgenomes.com
    %section.portfolio-item-details
      .row-fluid
        .span8
          %a.smallFontBy08{href: "http://treatings.co/", target: "_blank"}
            %img{alt: "Treatings", src: "assets/images/pages/work/treatings-screenshot.png"}/
        .span4
          %h5 Treatings
          %article.smallFontBy08
            %p
              %blockquote
                As the CTO of an NYC-based web startup, I originally sought out Lambda for expertise developing and scaling web applications. I was particularly impressed by Andrew's knowledge of both backend and frontend technologies, as well as his real experience scaling software  at Adaptly. Andrew's know-how has proven to be extremely helpful for us  and we feel lucky to be working with him. I gladly recommend Lambda to anyone looking for a web development partner!
              &mdash; Paul Osetinsky, Co-founder
              %br
          %section.website
            %h5 Visit site
            %a.smallFontBy08{href: "https://treatings.co/", target: "_blank"} treatings.co
    / Article
    %article
      /
        Portfolio items
        Params:
        plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
        portfolio-items: Customise portfolio items for hover effect.
      -# %ul.thumbnails.plugin-filter-elements.portfolio-items
      -#   %li.span4.mix
      -#   %li.span4.mix
      -#     %a#project1{"data-destination" => "portfolio-items", "data-insert" => "before", href: "#pages/portfolio/project_1.html"}
      -#       / Portfolio image
      -#       %img{alt: "Cost of Carbon", src: "assets/images/pages/work/coc-screenshot.png"}/
      -#       / Portfolio name, activated on hover
      -#       .portfolio-overlay
      -#         %h4 Cost of Carbon
      -#   %li.span4.mix

    / End Article
    / Footer
    / remove until we have more items
    /
    / End footer
/ END PAGE | WORK