/ PAGE | WORK
#page-work.pages.page-work.white-bg
  .container
    / Header
    %header
      %h4.line-divider Portfolio
      %h1 Work
      .row
        .span8.offset2
          %p
            Check out some of the work we've done for our clients.
      / Sub menu
      /
        Params:
        plugin-filter: Defines links for filtering.
      / comment out submenus for now until we have more items here
      /
    / End Header
    / Article
    %article
      /
        Portfolio items
        Params:
        plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
        portfolio-items: Customise portfolio items for hover effect.
      %ul.thumbnails.plugin-filter-elements.portfolio-items
        %li.span4.mix.mix_all{style: "display: inline-block; opacity: 1;"}
          %a{"data-destination" => "portfolio-items", "data-insert" => "before", href: "#pages/portfolio/project_1.html"}
            / Portfolio image
            %img{src: "assets/images/pages/work/tmb_coc-screenshot.png"}/
            / Portfolio name, activated on hover
            .portfolio-overlay
              %h4 Cost of Carbon
        %li.span4.mix.mix_all{style: "display: inline-block; opacity: 1;"}
          %a{"data-destination" => "portfolio-items", "data-insert" => "before", href: "#pages/portfolio/project_2.html"}
            %img{src: "assets/images/pages/work/tmb_full-genomes-screenshot.png"}/
            .portfolio-overlay
              %h4 Full Genomes
        %li.span4.mix.mix_all{style: "display: inline-block; opacity: 1;"}
          %a{"data-destination" => "portfolio-items", "data-insert" => "before", href: "#pages/portfolio/project_3.html"}
            %img{src: "assets/images/pages/work/tmb_treatings-screenshot.png"}/
            .portfolio-overlay
              %h4 Treatings
        %li.span4.mix.mix_all{style: "display: inline-block; opacity: 1;"}
          %a{"data-destination" => "portfolio-items", "data-insert" => "before", href: "#pages/portfolio/project_4.html"}
            %img{src: "assets/images/pages/work/tmb_rewardable-screenshot.png"}/
            .portfolio-overlay
              %h4 Rewardable
    / End Article
    / Article
    %article
      /
        Portfolio items
        Params:
        plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
        portfolio-items: Customise portfolio items for hover effect.
      -# %ul.thumbnails.plugin-filter-elements.portfolio-items
      -#   %li.span4.mix
      -#   %li.span4.mix
      -#     %a#project1{"data-destination" => "portfolio-items", "data-insert" => "before", href: "#pages/portfolio/project_1.html"}
      -#       / Portfolio image
      -#       %img{alt: "Cost of Carbon", src: "assets/images/pages/work/coc-screenshot.png"}/
      -#       / Portfolio name, activated on hover
      -#       .portfolio-overlay
      -#         %h4 Cost of Carbon
      -#   %li.span4.mix
    / End Article
/ END PAGE | WORK
.pages.white-bg
  .container
    .line-divider
    .span8.offset2.testimonial
      %blockquote
        If you're building a startup, you should meet with Lambda. Andrew has been a great mentor, advising me on the technical side of things and guiding me with my strategy. He knows his stuff, and also he can introduce you to top-notch people in other fields to help you move forward.
      .author.offset4
        &mdash; Mike Giordani, Inkins
      %p &nbsp;

